*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

*.[Rr]e[Ss]harper
*.DotSettings.user

.JustCode

_TeamCity*
.sass-cache/

[Ee]xpress/

publish/
node_modules/
bower_components/

Generated_Code/

.ntvs_analysis.dat

.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

logs
npm-debug.log*

pids
*.pid
*.seed
.grunt

.npm

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
